* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* HEADER */
header {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  color: white;
  justify-content: space-between;
}
.outer-container {
  width: 100%;
  height: 100vh;
  background-color: #8050ee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone-container {
  overflow: auto;
  background-color: #0e0e0e;
  width: 100%;
  max-width: 37.5rem;
  height: 95%;
  max-height: 81.2rem;
  border-radius: 3.6rem;
  padding: 1.8rem 1.8rem 5rem 1.8rem;
  border: 1px solid;
}
.phone-container::-webkit-scrollbar {
  display: none;
}
.arrows-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
}
.skip-arrow {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.8rem 1.1rem;
  background: linear-gradient(to bottom, #1c1c1c, #121212);
  color: #909090;
  border-radius: 30px;
}
.back-arrow {
  background: linear-gradient(to bottom, #1c1c1c, #121212);
  color: #909090;
  padding: 1rem;
  border-radius: 30px;
}
/* MAIN */
h1 {
  color: #fff;
  font-size: 2.4rem;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}
h1 + p {
  color: #bababa;
  font-size: 1.4rem;
  line-height: 16.8px;
}
.image-price {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.image {
  width: 1.2rem;
}
.image-container {
  padding: 0.9rem 1rem;
  background: linear-gradient(to bottom, #151515, #161616);
  display: inline-block;
  border-radius: 30px;
}
/* PRICE */
.price {
  color: white;
  font-size: 4.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.price-unit {
  font-weight: 400;
  font-size: 1.4rem;
  color: #989898;
}
/* PLANS */
.plans {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 2.4rem;
}
.plans div {
  padding: 1rem;
  background-color: #141414;
  flex: 1;
  border-radius: 42px;
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  color: #989898;
}
.plans .annualy {
  background: radial-gradient(50% 114.21% at 50% 50%, #ceb8ff 0%, #6b46be 100%);
  color: #fff;
}
/* IMAGES */
.images-text-container {
  margin-top: 2.4rem;
}
.images-container img {
  margin-left: -10px;
}
.images-container img:first-child {
  margin-left: 0;
}
.images-text-container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.images-text-container p {
  font-size: 1.4rem;
  color: #f1f1f1;
}
.discount-benefits-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #989898;
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 2rem;
}
.discount {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: linear-gradient(to bottom, #1c1c1c, #121212);
  padding: 1rem 1.2rem;
  border-radius: 4rem;
  font-size: 1rem;
  color: white;
}
.lists {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2.4rem;
}
.first-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  color: #f1f1f1;
  font-weight: 400;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #212121;
}
.first-list:last-child {
  border-bottom: none;
}
.circle {
  width: 8px;
  height: 8px;
  background-color: #9b7ede;
  border-radius: 50%;
}
button {
  width: 100%;
  padding: 1.8rem;
  border-radius: 4.2rem;
  background: radial-gradient(50% 114.21% at 50% 50%, #9161ff 0%, #4c1cba 100%);
  border: none;
  color: white;
  margin-top: 4rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.bolt {
  width: 14px;
}
@media (max-width: 31em) {
  .outer-container {
    height: 100%;
  }
  .phone-container {
    max-width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
